#start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 9999;
}

/* VHS STATIC OVERLAY */
#horror-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("textures/static.gif");
  opacity: 0.15;
  pointer-events: none;
  mix-blend-mode: screen;
}

#start-btn {
  margin-top: 20px;
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer;
  background: #5e00ff;
  color: white;
  border: none;
  border-radius: 10px;
  outline: none;
}

#start-btn:hover {
  background: #53006b;
  transform: scale(1.1);
}

.title {
  font-size: 60px;
  margin-bottom: 20px;
  font-family: "Press Start 2P", sans-serif;
  text-shadow: 3px 3px #ff0000, -3px -3px #00ffff;
  font-size: 48px;
  animation: home_glitch 0.7s infinite;
}

/* intro story */
#story-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  text-align: center;
  z-index: 9999;
  display: none;
  opacity: 1;
  transition: opacity 1.5s ease;
}

#intro-text p {
  margin: 15px 0;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

#continue-btn {
  margin-top: 40px;
  padding: 12px 25px;
  background: #333;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 2s 4s forwards;
}

.keypad-container {
  image-rendering: pixelated;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(10, 10, 20, 0.9);
  padding: 20px 30px;
  border: 2px solid #00ccff;
  border-radius: 8px;
  color: #fff;
  font-family: "Press Start 2P";
  text-align: center;
  z-index: 1000;
}

.keypad-title {
  image-rendering: pixelated;
  margin-bottom: 10px;
  font-size: 22px;
  color: #00ccff;
}

.keypad-input {
  image-rendering: pixelated;
  font-size: 24px;
  text-align: center;
  width: 120px;
  margin-bottom: 15px;
}

.keypad-btns {
  image-rendering: pixelated;
  background: #00ccff;
  border: none;
  color: white;
  padding: 8px 14px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.keypad-btn {
  image-rendering: pixelated;
  background: #00ccff;
  border: none;
  color: white;
  padding: 8px 14px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Press Start 2P";
}

.keypad-btn:hover {
  background: #0099cc;
}

#game-container {
  display: none;
}
.escape-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-family: "Atkinson Hyperlegible", sans-serif;
  text-align: center;
  border-radius: 10px;
  display: none;
  z-index: 999999;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
}

.escape-popup button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background: #ff3333;
  color: white;
  cursor: pointer;
}

.escape-popup button:hover {
  background: #ff6666;
}

.scare-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 22px;
  text-align: center;
  border-radius: 10px;
  z-index: 999999;
  display: none;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
}

.scare-popup button {
  margin-top: 15px;
  padding: 8px 18px;
  background: #ff3333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

.scare-popup button:hover {
  background: #ff5555;
}

#book-message {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.75);
  padding: 12px 24px;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  display: none;
  pointer-events: none;
  z-index: 999999; /* force on top */
  max-width: 80%;
  text-align: center;

  animation: glitch 0.14s infinite;
}

#portal-message {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.75);
  padding: 12px 24px;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  display: none;
  pointer-events: none;
  z-index: 999999; /* force on top */
  max-width: 80%;
  text-align: center;

  animation: glitch 0.14s infinite;
}

#rune-message {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.75);
  padding: 12px 24px;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  display: none;
  pointer-events: none;
  z-index: 999999; /* force on top */
  max-width: 80%;
  text-align: center;

  animation: glitch 0.14s infinite;
}

/* ANIMATIONS*/
@keyframes glitch {
  0% {
    transform: translateX(-50%) skew(0deg);
  }
  20% {
    transform: translateX(calc(-50% + 2px)) skew(5deg);
  }
  40% {
    transform: translateX(calc(-50% - 1px)) skew(-5deg);
  }
  60% {
    transform: translateX(calc(-50% + 1px));
  }
  80% {
    transform: translateX(calc(-50% - 2px)) skew(3deg);
  }
  100% {
    transform: translateX(-50%) skew(0deg);
  }
}

/* HORROR GLITCH EFFECT */
@keyframes home_glitch {
  0% {
    text-shadow: 3px 3px #ff0000, -3px -3px #00ffff;
  }
  20% {
    text-shadow: 5px -3px #00ffea, -3px 3px #ff0000;
  }
  40% {
    text-shadow: -3px 5px #ff009d, 3px -3px #00ffaa;
  }
  60% {
    text-shadow: 3px -3px #ff0000, -5px 3px #00ffff;
  }
  80% {
    text-shadow: -3px 3px #ff0077, 3px -5px #00ffee;
  }
  100% {
    text-shadow: 3px 3px #ff0000, -3px -3px #00ffff;
  }
}

/* FADE OUT ANIMATION */
.fade-out {
  animation: fadeout 1s forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
